body{
    background-color: aliceblue ;
    text-align: center;
    color: white;
}

.container{
    /* width: 1500px; */
    /* height: 1500px; */
    display: flex;
    flex-direction: row;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 30px; */
    row-gap: 10px;
    column-gap: 30px;
}

.box{
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
}

.green{
    width: 300px;
    background-color: green;
}

.blue{
    height: 500px;
    background-color: blue;
    flex-grow: 3;
}

.orange{
    background-color: orange;
    order: 1;
}

.black{
    background-color: black;
}

.indigo{
    background-color: indigo;
    flex-grow: 2;
}

.purple{
    background-color: purple;
    order: 3;
}

.cyan{
    background-color: cyan;
}

.brown{
    background-color: brown;
    order: 4;
}

